---
import Hero from "../components/Hero.astro";
import InternetPlans from "../components/Internet-Plans.astro";
import NoIva from "../components/NoIva.astro";
import QuienesSomos from "../components/Quienes-Somos.astro";
import ValoresEmpresariales from "../components/ValoresEmpresariales.astro";
import CardsCobertura from "../components/Sectores-Cobertura.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/BaseLayout.astro";
import PreguntasFrecuentes from "../components/Preguntas-Frecuentes.astro";
import Contacto from "../components/Contacto.astro";
import FormularioContacto from "../components/Formulario-Contacto.astro";
---

<Layout title="Surnet">
  <header>
    <Hero/>
    <QuienesSomos id="quienes-somos-surnet"/>
    <NoIva/>
    <ValoresEmpresariales/>
    <InternetPlans />
    <CardsCobertura/>
    <Contacto/>
    <FormularioContacto/>
    <PreguntasFrecuentes/>
    <Footer/>
  </header>
  <main>
  </main>
</Layout>


