---
import Hero from "../components/Hero.astro";
import NoIva from "../components/NoIva.astro";
import QuienesSomos from "../components/QuienesSomos.astro";
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Surnet">
  <header>
    <Hero/>
    <QuienesSomos/>
    <NoIva/>
  </header>
  <main>
  </main>
</Layout>


