---
import Hero from "../components/Hero.astro";
import InternetPlans from "../components/InternetPlans.astro";
import NoIva from "../components/NoIva.astro";
import QuienesSomos from "../components/QuienesSomos.astro";
import ValoresEmpresariales from "../components/ValoresEmpresariales.astro";
import CardsCobertura from "../components/CardsCobertura.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Surnet">
  <header>
    <Hero/>
    <QuienesSomos/>
    <NoIva/>
    <ValoresEmpresariales/>
    <InternetPlans/>
    <CardsCobertura/>
    <Footer/>
  </header>
  <main>
  </main>
</Layout>


