---
import CardsSectores from "./Sectores-Cobertura.astro";

const sectores = ["San Juan", "Llano Grande", "Condado", "Carapungo"];
---
<div class=" max-w-screen-xl mx-auto sectionCobertura m-16 grid grid-cols-1 sm:grid-cols-2">
  <div class="cobertura">
    <h4>Sectores de Cobertura</h4>
    <p>
      Somos una empresa en constante expansi칩n para poder llegar a m치s sectores
      y que puedan disfrutar del mejor servicio de internet por fibra 칩ptica,
      por lo cual detallamos a continuaci칩n los sectores en los que disponemos
      de cobertura actualmente
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    {
      sectores.map((sector) => (
        <CardsSectores title={sector}/>
      ))
    }
  </div>
</div>

<style>
  @media screen and (max-width: 640px) {
    .sectionCobertura {
      margin: 15px;
    }
    .sectionCobertura h4 {
      display: flex;
      text-align: center;
    }
  }
  .cobertura {
    margin-right: 50px;
    margin-left: 50px;
  }
  @media screen and (max-width: 640px) {
    .cobertura {
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 25px;
    }
  }

  .cobertura h4 {
    margin-bottom: 25px;
  }
 </style>
