<section
  class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16 mx-auto">
  <div class="grid grid-cols-1 sm:grid-cols-2">
    <div class="mapouter lg:px-8 sm:m-2  ">
      <div class="gmap_canvas">
        <iframe
          class="mapa w-full h-80"
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=-0.08325707962695317%2C+-78.43715552243461&t=&z=15&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"></iframe>
      </div>
    </div>
    <div class="sector-info mx-auto my-10">
      <h4 class="text-center mb-6">Contactos</h4>
      <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam enim
        quidem rerum dolore consectetur laborum natus illum, necessitatibus
        corrupti cupiditate cumque, eum, saepe dicta eos alias fugit ducimus
        ipsum explicabo.
      </p>
    </div>
  </div>
</section>
<style>
    .mapa{

    }
</style>
