<section class="inicio">
  <div
    class="mx-auto  max-w-screen-xl px-10 py-32  lg:h-auto lg:items-center">
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        El internet que va a la velocidad de la luz
        <br/>
        <strong class="font-extrabold text-blue-700 sm:block">
          Contrata Ahora
        </strong>
      </h1>

      <p class="mt-4 sm:text-xl/relaxed">
        Empresa autorizada por ARCOTEL, para dar servicio de internet.
      </p>

      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <a
          class="block w-full rounded bg-blue-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-blue-700 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
          href="#">
          Contratar
        </a>

        <a
          class="block w-full rounded px-12 py-3 text-sm font-medium text-blue-600 shadow hover:text-blue-700 focus:outline-none focus:ring active:text-blue-500 sm:w-auto"
          href="#">
          Soporte Técnico
        </a>
      </div>
    </div>
  </div>
</section>
