---
import CardsPreguntasFrecuentes from "./Cards-Preguntas-Frecuentes.astro";
const allQuestion = await Astro.glob("../Content/Preguntas-Frecuentes/*.md");
---
<section class="preguntas-frecuentes max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px8 lg:py-16  ">
  <div class="space-y-4">
    {
     allQuestion.map((item) => (
      <CardsPreguntasFrecuentes title={item?.frontmatter?.title} informacion={item?.frontmatter?.informacion} />
     )) 
    }
  </div>
</section>
