---
//  import { Icon } from 'astro-icon/components';
import Icon from './Icon.astro';
---

<section class="max-w-screen-xl mx-auto   mb-10">
  <div class="skills box ">
    <div class="stack gap-2 lg:gap-4 quienesSomos">
        <h2 >Quienes somos</h2>
        <p >
          Somo una empresa joven que ofrece conexión a Internet ilimitada
          directamente hasta el hogar, con la red de última generación a través de
        FIBRA OPTICA!! Perfecta para tus clases en línea, redes sociales, ver
        películas en línea y tus videojuegos favoritos.
      </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
      <!-- <Icon icon="empresa" color="var(--accent-regular)" size="2.5rem" gradient /> -->
      <h2>Misión</h2>
      <p>
        Proveer de una excelente atención y servicio a nuestros clientes, quienes
        depositan su confianza en nuestra empresa para que sus requerimientos sean
        atendidos y solventados de una manera preferencial, contando para ello con
        un equipo de trabajo altamente capacitado y calificado en sus diferentes
        aéreas.
      </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
      <!-- <Icon name="trophy" color="var(--accent-regular)"    /> -->
      <!-- <Icon name="filename" /> -->
      <h2>Visión</h2>
      <p>
        Ser una empresa líder, conocida y reconocida por el cumplimiento y alto
        desempeño en el desarrollo de los servicios que ofrecemos, asegurando la
        satisfacción total de nuestros clientes a través de un servicio de
        calidad.
      </p>
    </div>
  </div>

</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    margin: 1rem;
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-ls);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
