<div class="mt-8 sm:p-10 max-w-screen-xl mx-auto sm:px-6 sm:py-12">
  <div class="sm:text-center px-4 sm:px-0">
    <h3 class=" text-3xl font-semibold leading-7  text-gray-900">
      Valores Empresariales
    </h3>
    <!-- <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500"> -->
      <!-- Personal details and application. -->
    <!-- </p> -->
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-xl font-medium leading-6 text-gray-900">
            Empatía
        </dt>
        <dd class="mt-1 text-lg leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            Es la habilidad para percibir y sentir el estado de ánimo de las personas con quien nos comunicamos, para lograr un clima de confianza armonía y cooperación; y así mejorar nuestras relaciones interpersonales para consecución de metas y objetivos.
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-xl font-medium leading-6 text-gray-900">
            Transparencia y la honestidad
        </dt>
        <dd class="mt-1 text-lg leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            Se basan en aceptar las equivocaciones que cometemos, en no endilgar responsabilidades a otros cuando son nuestras, en no apropiarse de los bienes o el capital de la compañía y en denunciar a tiempo siempre que nos enteremos de fraudes o trampas realizadas al interior de la organización.
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-xl font-medium leading-6 text-gray-900">
            Respeto
        </dt>
        <dd class="mt-1 text-lg leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            a consideración y valoración especial que se le tiene a alguien o a algo, al que se le reconoce valor social o especial deferencia.
        </dd>
      </div>
    </dl>
  </div>
</div>
